/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .top-header {
   height: 50px;
   .fixed {
     // background: #F34D4D;
     background: #ff3019; /* Old browsers */
     background: -moz-radial-gradient(center, ellipse cover, #ff3019 0%, #cf0404 84%); /* FF3.6-15 */
     background: -webkit-radial-gradient(center, ellipse cover, #ff3019 0%,#cf0404 84%); /* Chrome10-25,Safari5.1-6 */
     background: radial-gradient(ellipse at center, #ff3019 0%,#cf0404 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     z-index: 10000;
     width: 100%;
     height: 50px;
     position: fixed;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     .right {
       margin-left: auto;
       margin-right: 15px;
       a {
         max-width: 100%;
       }
     }
