// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blue-sky {
    background-image: url('/images/blue-sky.jpg');

  }
.night-sky {
    background-image: url('/images/night-sky.jpg');
}
.profile-img {
    background-image: url('/images/profile-img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-img3 {
  background-image: url('/images/profile-img3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.city-header {
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
  }

  .fav-city {
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
  }
  .new-city {
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
  }

.temp {
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-size: 30px;
  margin-top: 20px;
}

.info {
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-size: 30px;
  margin-top: 30px;

}

.icon {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.onclick {
  text-align: center;
}


.event_name {
  font-size: 20px;
}


.new-event-link {
  text-align: right;
  font-size: 20px;
  padding-right: 10px;
}

.edit-hp {
  font-size: 20px;
  font-weight: bold;
}
.sub {
  color: yellow;
  font-size: 20px;
  text-align: center;

}

.card-title {
  font-size: 40px;
  font-weight: lighter;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  select {
    margin: 0 5px;
  }
  label {
    min-width: 70px;
  }
}



.event-submit{
  border: solid;
}

.city-card-top{
  background: 	#4BB5EA;
  color: #EDF2F4;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  .card-block {
    .card-text {
      display: flex;
      .sub {
          margin-right: auto;

      }
    }
  }
}

.city-card-bottom {
  background: #D3D3D3   ;
  border: 1px solid #000;
  border-radius: 0 0 20px 20px;
  padding: 20px;
  .card-block {
    .card-text {
      color: #000;
      display: flex;
      span {
        color: #000;
      }
      .sub {
          margin-right: auto;

      }
    }
  }
}
